.box {
  width: 25%;
  padding: 20px;
  border-radius: 5px;
  margin: auto;
}

.login {
  color: black;
  border: 1px rgb(32, 32, 32) solid;
  background-color: rgb(20, 26, 34);
}

.label {
  color: white;
  background-color: transparent;
  margin-top: 10px;
}

.input {
  background-color: white;
  border: inherit;
  margin-top: 10px;
  width: 100%;
  color: inherit;
  font-size: 20px;
  border-radius: inherit;
  margin-bottom: 15px;
  padding: 5px 0px 5px 5px;
}

.btn {
  display: block;
  width: 100%;
}

.link,
.login-link {
  background-color: transparent;
  text-decoration: none;
}

.login-link {
  margin: 0px 4px;
  font-weight: bold;
}

.link {
  display: block;
  margin-top: 15px;
  text-align: center;
  font-weight: bolder;
}

.link:link,
.link:visited,
.login-link:link,
.login-link:visited {
  color: #3299ff;
}

.link:hover,
.login-link:hover {
  text-decoration: underline;
}

.sign-in {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 20px;
  background-color: transparent;
}

.error {
  color: #ff7b72;
  text-align: center;
  border: 1px red solid;
  background-color: #25171c;
  margin-bottom: 10px;
}

.success {
  color: #72ff85;
  text-align: center;
  border: 1px green solid;
  background-color: #172519;
  margin-bottom: 10px;
}
